.footer-first{
    width: 100%;
    height: 20rem;
    background-color: #e0e8ee;
}
.heading{
    align-items: center;
}
.icons a{
    text-decoration: none;
    color: black;
}

.icons a:hover{
    color: #0d6efd;
}

